*{ margin:0 ; padding:0 ;box-sizing: border-box; }
body{
    font-family: 'montserrat' , sans-serif;
    color: #fff;
    background-image: url('photo.jpeg');
    background-position: center ;
    background-repeat: no-repeat ;
    background-size: cover ;
    height: 100vh;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0,.3);
    height: 100vh;
}
.header{ padding: 50px 20px 30px 20px ;}
.header h1 {
    font-size: 50px;
    color:#ffcd53 ;
    text-shadow: 1px 3px rgba(0, 0, 0, .9);
}
.header input{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 3px solid #ffcd53;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.city{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
    text-shadow: 1px 3px rgba(0, 0, 0, .7);
}
.temp{
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 10px;
    text-shadow: 1px 3px rgba(0, 0, 0, .7);
}
.desc{
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 10px;
    text-shadow: 1px 3px rgba(0, 0, 0, .7);
}
.minmax{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    text-shadow: 1px 3px rgba(0, 0, 0, .7);
}